{
  "swagger" : "2.0",
  "info" : {
    "description" : "REST API Hlídače státu",
    "version" : "v2",
    "title" : "HlidacStatu_ApiV2",
    "termsOfService" : "https://www.hlidacstatu.cz/texty/provoznipodminky/",
    "contact" : {
      "name" : "Hlídač státu",
      "url" : "https://www.hlidacstatu.cz/texty/kontakt/",
      "email" : "podpora@hlidacstatu.cz"
    },
    "license" : {
      "name" : "CC BY 3.0 CZ",
      "url" : "https://www.hlidacstatu.cz/texty/licence/"
    }
  },
  "host" : "www.hlidacstatu.cz",
  "schemes" : [ "https" ],
  "paths" : {
    "/api/v2/ping/{text}" : {
      "get" : {
        "tags" : [ "Core" ],
        "operationId" : "ApiV2_Ping",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "text",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "string"
            }
          }
        }
      }
    },
    "/api/v2/datasety" : {
      "get" : {
        "tags" : [ "Datasety" ],
        "summary" : "Načte seznam datasetů",
        "operationId" : "ApiV2Datasety_GetAll",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SearchResultDTO[Registration]"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Datasety" ],
        "summary" : "Vytvoří nový dataset",
        "description" : "Ukázkový požadavek:\r\nhttps://raw.githubusercontent.com/HlidacStatu/API/master/v2/create_dataset.example.json",
        "operationId" : "ApiV2Datasety_Create",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "data",
          "description" : "Objekt typu Registration",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Registration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Dataset vytvořen",
            "schema" : {
              "$ref" : "#/definitions/DSCreatedDTO"
            }
          },
          "400" : {
            "description" : "Chyba v datech"
          }
        }
      },
      "put" : {
        "tags" : [ "Datasety" ],
        "summary" : "Update datasetu.",
        "description" : "Není možné změnit hodnoty jsonSchema a datasetId. Pokud je potřebuješ změnit, \r\nmusíš datovou sadu smazat a zaregistrovat znovu.\r\n\r\nUkázkový požadavek:\r\nhttps://raw.githubusercontent.com/HlidacStatu/API/master/v2/create_dataset.example.json",
        "operationId" : "ApiV2Datasety_Update",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "data",
          "description" : "Objekt typu Registration",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Registration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Registration"
            }
          }
        }
      }
    },
    "/api/v2/datasety/{datasetId}" : {
      "get" : {
        "tags" : [ "Datasety" ],
        "summary" : "Detail konkrétního datasetu",
        "operationId" : "ApiV2Datasety_Detail",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Id datasetu (můžeme ho získat ze seznamu datasetů)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/Registration"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Datasety" ],
        "summary" : "Smazání datasetu",
        "operationId" : "ApiV2Datasety_Delete",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Id datasetu (můžeme ho získat ze seznamu datasetů)",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      }
    },
    "/api/v2/datasety/{datasetId}/hledat" : {
      "get" : {
        "tags" : [ "Datasety" ],
        "summary" : "Vyhledávání v položkách datasetu",
        "operationId" : "ApiV2Datasety_DatasetSearch",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Id datasetu (můžeme ho získat ze seznamu datasetů)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "dotaz",
          "in" : "query",
          "description" : "Hledaný výraz",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "strana",
          "in" : "query",
          "description" : "Stránkování",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "Název pole pro řazení",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "desc",
          "in" : "query",
          "description" : "Řazení: 0 - Vzestupně; 1 - Sestupně",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SearchResultDTO[Object]"
            }
          }
        }
      }
    },
    "/api/v2/datasety/{datasetId}/zaznamy/{itemId}" : {
      "get" : {
        "tags" : [ "Datasety" ],
        "summary" : "Detail konkrétní položky z datasetu",
        "operationId" : "ApiV2Datasety_DatasetItem_Get",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Id datasetu (můžeme ho získat ze seznamu datasetů)",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "path",
          "description" : "Id položky v datasetu, kterou chceme načíst",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Datasety" ],
        "summary" : "Vloží nebo updatuje záznam v datasetu",
        "operationId" : "ApiV2Datasety_DatasetItem_Update",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Id datasetu",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "path",
          "description" : "Id záznamu",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "data",
          "description" : "Objekt, který se má vložit, nebo updatovat",
          "required" : true,
          "schema" : {
            "type" : "object"
          }
        }, {
          "name" : "mode",
          "in" : "query",
          "description" : "\"skip\" (default) - pokud záznam existuje, nic se na něm nezmění.\r\n            \"merge\" - snaží se spojit data z obou záznamů.\r\n            \"rewrite\" - pokud záznam existuje, je bez milosti přepsán",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/DSItemResponseDTO"
            }
          }
        }
      }
    },
    "/api/v2/datasety/{datasetId}/zaznamy" : {
      "post" : {
        "tags" : [ "Datasety" ],
        "summary" : "Hromadné vkládání záznamů",
        "description" : "Pokud záznamy s daným ID existují, tak budou přepsány.\r\n\r\n    Ukázkový požadavek:  \r\n    \r\n    [\r\n    \t{\r\n    \t\t\"HsProcessType\": \"person\",\r\n    \t\t\"Id\": \"2\",\r\n    \t\t\"jmeno\": \"Ferda\",\r\n    \t\t\"prijmeni\": \"Mravenec\",\r\n    \t\t\"narozeni\": \"2018-11-13T20:20:39+00:00\"\r\n    \t},\r\n    \t{\r\n    \t\t\"HsProcessType\": \"document\",\r\n    \t\t\"Id\": \"broukpytlik\",\r\n    \t\t\"jmeno\": \"Brouk\",\r\n    \t\t\"prijmeni\": \"Pytlík\",\r\n    \t\t\"narozeni\": \"2017-12-10T00:00:00+00:00\",\r\n    \t\t\"DocumentUrl\": \"www.hlidacstatu.cz\",\r\n    \t\t\"DocumentPlainText\": null\r\n    \t}\r\n    ]",
        "operationId" : "ApiV2Datasety_DatasetItem_BulkInsert",
        "consumes" : [ "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded" ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Id datasetu, kam chceme záznamy nahrát",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "data",
          "description" : "Pole JSON objektů",
          "required" : true,
          "schema" : {
            "type" : "object"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/DSItemResponseDTO"
              }
            }
          }
        }
      }
    },
    "/api/v2/datasety/{datasetId}/zaznamy/{itemId}/existuje" : {
      "get" : {
        "tags" : [ "Datasety" ],
        "summary" : "Kontrola, jestli záznam existuje v datasetu",
        "operationId" : "ApiV2Datasety_DatasetItem_Exists",
        "consumes" : [ ],
        "produces" : [ "application/json", "text/json", "application/xml", "text/xml" ],
        "parameters" : [ {
          "name" : "datasetId",
          "in" : "path",
          "description" : "Id datasetu",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "itemId",
          "in" : "path",
          "description" : "Id záznamu",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "boolean"
            }
          }
        }
      }
    }
  },
  "securityDefinitions" : {
    "apiKey" : {
      "description" : "API Key Authentication",
      "type" : "apiKey",
      "name" : "Authorization",
      "in" : "header"
    }
  },
  "definitions" : {
    "SearchResultDTO[Registration]" : {
      "type" : "object",
      "properties" : {
        "Total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "Page" : {
          "type" : "integer",
          "format" : "int32"
        },
        "Results" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Registration"
          }
        }
      }
    },
    "Registration" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "readOnly" : true
        },
        "name" : {
          "type" : "string"
        },
        "datasetId" : {
          "type" : "string"
        },
        "origUrl" : {
          "type" : "string"
        },
        "sourcecodeUrl" : {
          "type" : "string"
        },
        "description" : {
          "type" : "string"
        },
        "jsonSchema" : {
          "type" : "string"
        },
        "createdBy" : {
          "type" : "string"
        },
        "created" : {
          "type" : "string",
          "format" : "date-time"
        },
        "betaversion" : {
          "type" : "boolean"
        },
        "allowWriteAccess" : {
          "type" : "boolean"
        },
        "hidden" : {
          "type" : "boolean"
        },
        "searchResultTemplate" : {
          "$ref" : "#/definitions/Template"
        },
        "detailTemplate" : {
          "$ref" : "#/definitions/Template"
        },
        "defaultOrderBy" : {
          "type" : "string"
        },
        "orderList" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "Template" : {
      "type" : "object",
      "properties" : {
        "header" : {
          "type" : "string"
        },
        "body" : {
          "type" : "string"
        },
        "footer" : {
          "type" : "string"
        },
        "title" : {
          "type" : "string"
        },
        "properties" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      }
    },
    "DSCreatedDTO" : {
      "type" : "object",
      "properties" : {
        "DatasetId" : {
          "type" : "string"
        }
      }
    },
    "SearchResultDTO[Object]" : {
      "type" : "object",
      "properties" : {
        "Total" : {
          "type" : "integer",
          "format" : "int64"
        },
        "Page" : {
          "type" : "integer",
          "format" : "int32"
        },
        "Results" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        }
      }
    },
    "DSItemResponseDTO" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string"
        }
      }
    },
    "tHash" : {
      "type" : "object",
      "properties" : {
        "algoritmus" : {
          "type" : "string"
        },
        "Value" : {
          "type" : "string"
        }
      }
    }
  }
}